# Python byte code
*.pyc
*.pyo
venv/

# Emacs
*~

# Compiled JSON
*.json
!*p4app.json
!topology.json
!*-runtime.json
!implementation_3/app/sdnc/config/*.json
!implementation_4/app/sdnc/config/*.json
*.pcap

# Extracted solutions
solution*/
!solution/

# Build folders
build*/

# Logs folders
logs/

# Vagrant
.vagrant/

# Mac OS
*.DS_Store

# IntelliJ / PyCharm
.idea/
